---
import MainLayout from "@/layouts/MainLayout.astro";
import avatar from "@/assets/avatar.webp";
import Publication from "@/components/Publication.astro";

import BlogPostItem from "@/components/BlogPostItem.astro";
import { getCollection } from "astro:content";

const allPosts = (await getCollection("posts")).filter((post) => post.data.published);

allPosts.sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());
---

<MainLayout
    title="Home"
    description="Electronics & Robotics Engineer"
    className="flex flex-col max-w-4xl font-antonia-body"
>
    <section class="flex flex-col items-start gap-6">
        <div class="mb-12 ml-4 mt-6 flex items-center">
            <div class="flex w-3/4 flex-col justify-self-start">
                <span class="text-4xl font-bold font-antonia">ALVARO GAONA</span>
                <p class="text-lg justify-text mt-6 text-justify">
                    I'm an electrical engineer graduated from Universidad de Buenos Aires, with 10+ years of experience
                    in software engineering. I've worked as a backend engineer at several companies, and worked at the
                    <a class="text-spectral-blue hover:underline underline-offset-4" href="https://udesa.edu.ar/linar"
                        >Artificial Intelligence and Robotics Laboratory</a
                    > at Universidad de San Andrés, where I did research in robotics and taught programming languages to
                    undergraduates. My academic revolved around autonomous mobile vehicles and Spatial AI. In particular,
                    how vehicles can autonomously navigate through complex environments using advanced control, perception,
                    and localization algorithms.
                </p>
            </div>
            <img
                class="ml-auto h-32 w-auto rounded-full"
                alt="avatar"
                src={avatar.src}
                width={avatar.width}
                height={avatar.height}
                loading="lazy"
                decoding="async"
            />
        </div>
    </section>
    <section class="ml-4 mt-8 flex flex-col items-start gap-4">
        <h1 class="text-xl underline text-spectral-blue font-bold underline-offset-[6px] font-antonia">Posts</h1>
        <ul>
            {allPosts.map((post) => <BlogPostItem slug={post.slug} frontmatter={post.data} />)}
        </ul>
    </section>
    <section class="ml-4 mt-8 flex flex-col items-start gap-4">
        <h1 class="text-spectral-blue text-xl font-bold underline underline-offset-[6px] font-antonia">Publications</h1>
        <div class="flex flex-col gap-4">
            <Publication
                title="Fault Tolerant Solutions for Multirotor Unmanned Aerial Vehicles in NVIDIA® Jetson™ TX2"
                reference="Juan I. Giribet, Claudio Pose, Alvaro J. Gaona, José I. Gonzalez Etchemaite, Roberto Bunge, ”Fault Tolerant Solutions for Multirotor Unmanned Aerial Vehicles in NVIDIA® Jetson™ TX2”. NVIDIA GPU Technology Conference (2022)."
                video="https://www.youtube.com/watch?v=lB_cJI2HU94"
                poster="https://pub-f074cead5eaf408790b463b05f6e8b32.r2.dev/NVIDIA_Poster.pdf"
            />

            <Publication
                title="Prototyping of a multirotor UAV for precision landing under rotor failures"
                reference="A. J. Gaona, C. D. Pose, J. I. Giribet, R. Bunge, ”Prototyping of a multirotor UAV for precision landing under rotor failures”. Jornadas Argentinas de Robótica 2022 (JAR XI). Bariloche, Argentina."
                article="https://arxiv.org/pdf/2408.01676"
                video="https://www.youtube.com/watch?v=RSMMCVYldGk"
            />

            <Publication
                title="Deep Recurrent Learning for Heart Sound Segmentation based on Instantaneous Frequency Features"
                reference="A. J. Gaona, P. D. Arini, ”Deep Recurrent Learning for Heart Sounds Segmentation based on Instantaneous Frequency Features”. Revista Elektron, Vol. 4, No. 2, pp 52‑57 (2020)."
                article="http://elektron.fi.uba.ar/index.php/elektron/article/view/101/212"
            />
        </div>
    </section>
</MainLayout>
