---
export interface Props {
    title: string;
    reference: string;
    article?: string;
    video?: string;
    poster?: string;
}

const { title, reference, article, video, poster } = Astro.props;
---

<div class="flex flex-col">
    <p class="text-lg inline font-medium font-space-grotesk">
        &bdquo;{title}&ldquo;
    </p>
    <p class="text-justify text-base">{reference}</p>
    <div class="flex items-center gap-3">
        {
            article && (
                <a
                    href={article}
                    class="transform pt-4 hover:underline decoration-1 underline-offset-4 transition duration-200 hover:-translate-y-1"
                >
                    <span class="flex items-center gap-1 text-base">Article</span>
                </a>
            )
        }

        {
            poster && (
                <a
                    href={poster}
                    class="transform pt-4 hover:underline decoration-1 underline-offset-4 transition duration-200 hover:-translate-y-1"
                >
                    <span class="flex items-center gap-1 text-base">Poster</span>
                </a>
            )
        }

        {
            video && (
                <a
                    href={video}
                    class="transform pt-4 hover:underline decoration-1 underline-offset-4 transition duration-200 hover:-translate-y-1"
                >
                    <span class="flex items-center gap-1 text-base">Video</span>
                </a>
            )
        }
    </div>
</div>
