---
import '@fontsource/m-plus-rounded-1c';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import AnimatedLayout from '@components/AnimatedLayout';

const metadata = {
  title: 'alvgaona',
  description: 'Personal website',
  author: '@alvgaona',
  url: 'https://alvgaona.com',
};
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={metadata.description} />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:title" content={metadata.title} />
    <meta property="og:description" content={metadata.description} />
    <meta property="og:url" content={metadata.url} />
    <meta property="og:type" content="website" />
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:title" content={metadata.title} />
    <meta property="twitter:description" content={metadata.description} />
    <meta property="twitter:creator" content={metadata.author} />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{metadata.title}</title>
    <script is:inline src="/toggle-theme.js"></script>
  </head>
  <body class="bg-orange-50 dark:bg-zinc-800 dark:text-zinc-200">
    <Header />
    <AnimatedLayout client:load>
      <main class="pt-[56px]">
        <article class="mx-auto max-w-2xl px-8">
          <slot />
        </article>
      </main>
    </AnimatedLayout>
    <Footer />
  </body>
</html>

<style is:global>
  :root {
    --system-ui: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    --font-mplus: 'M PLUS Rounded 1c';
  }

  html,
  body {
    font-family: var(--system-ui);
    height: 100%;
  }

  body {
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5rem;
    text-decoration: none;
    text-transform: none;
    color: #060606;
  }
</style>
