---
import '@/styles/globals.css';

import '@fontsource/m-plus-rounded-1c';
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';
import AnimatedLayout from '@/components/AnimatedLayout';
import { Toaster } from '@/components/ui/sonner';

const { pageTitle } = Astro.props;

const metadata = {
  title: pageTitle ?? 'alvgaona',
  description: 'Personal website',
  author: '@alvgaona',
  url: 'https://alvgaona.com',
};
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={metadata.description} />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:title" content={metadata.title} />
    <meta property="og:description" content={metadata.description} />
    <meta property="og:url" content={metadata.url} />
    <meta property="og:type" content="website" />
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:title" content={metadata.title} />
    <meta property="twitter:description" content={metadata.description} />
    <meta property="twitter:creator" content={metadata.author} />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <title>{metadata.title}</title>
    <script is:inline src="/toggle-theme.js"></script>
  </head>
  <body class="bg-white dark:bg-strafe-dark dark:text-white">
    <Header />
    <AnimatedLayout client:load>
      <slot />
      <Toaster
        client:load
        toastOptions={{
          unstyled: true,
          className:
            'border-2 dark:border-zinc-700 border-zinc-300 shadow dark:shadow-zinc-700 shadow-zinc-300 rounded-md',
          classNames: {
            toast: 'dark:bg-strafe-dark bg-white',
            title: 'text-red-400 text-xs pr-24 py-3 pl-4 w-full',
          },
        }}
      />
    </AnimatedLayout>
    <Footer />
  </body>
</html>

<style is:global>
  :root {
    --system-ui: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    --font-mplus: 'M PLUS Rounded 1c';
  }

  html,
  body {
    font-family: var(--system-ui);
    height: 100%;
  }

  body {
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5rem;
    text-decoration: none;
    text-transform: none;
  }
</style>
