---
import '@/styles/globals.css';

import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';
import AnimatedLayout from '@/components/AnimatedLayout';
import { Toaster } from '@/components/ui/sonner';

const { pageTitle } = Astro.props;

const metadata = {
  title: pageTitle ?? 'alvgaona',
  description: 'Personal website',
  author: '@alvgaona',
  url: 'https://alvgaona.com',
};
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={metadata.description} />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:title" content={metadata.title} />
    <meta property="og:description" content={metadata.description} />
    <meta property="og:url" content={metadata.url} />
    <meta property="og:type" content="website" />
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:title" content={metadata.title} />
    <meta property="twitter:description" content={metadata.description} />
    <meta property="twitter:creator" content={metadata.author} />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.9/katex.min.css"
      integrity="sha512-fHwaWebuwA7NSF5Qg/af4UeDx9XqUpYpOGgubo3yWu+b2IQR4UeQwbb42Ti7gVAjNtVoI/I9TEoYeu9omwcC6g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>{metadata.title}</title>
    <script is:inline src="/toggle-theme.js"></script>
  </head>
  <body class="bg-white font-cmono dark:bg-vesper-dark dark:text-white">
    <!-- <Header /> -->
    <div class="grid h-full">
      <AnimatedLayout client:load>
        <slot />
        <Toaster
          client:load
          toastOptions={{
            unstyled: true,
            className:
              'border-2 dark:border-vesper-gold border-vesper-gold shadow dark:shadow-vesper-gold shadow-vesper-hold rounded-md',
            classNames: {
              toast: 'dark:bg-vesper-dark',
              title: 'text-xs pr-24 py-3 pl-4 w-full',
            },
          }}
        />
      </AnimatedLayout>
      <Footer />
    </div>
  </body>
</html>

<style is:global>
  :root {
    --system-ui: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    --font-commit-mono: 'CommitMono';
  }

  html,
  body {
    font-family: var(--system-ui);
  }

  body {
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 1.5rem;
    text-decoration: none;
    text-transform: none;
  }

  @font-face {
    font-family: 'CommitMono';
    src: url('/fonts/CommitMono-400-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'CommitMono';
    src: url('/fonts/CommitMono-400-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'CommitMono';
    src: url('/fonts/CommitMono-700-Regular.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'CommitMono';
    src: url('/fonts/CommitMono-700-Italic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }
</style>
